<body >
    <br>
    <div class="container" style="background-image:url(../../../assets/uniteback1.jpg);">
        <div class="header">
            <h1 style="text-decoration: red;font-family: Grinched Font;font-weight: bole;font-size: 4rem;">Mon alphabet</h1>
        </div>
        
        <!-- Add the video container -->
        <div class="video-container">
            <video width="640" height="360" controls>
                <source src="../../../assets/Mon alphabet _ Comptine _Unité 6 _ 3ème année primaire _ Français.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        
        <div class="buttons">
            <!-- Bind click event to toggleMots() method -->
            <button type="button" class="btn1" style="background-color: #FAA300;font-family:Grinched Font">Au revoir et Merci !</button>
        </div>
        

   
        <div class="button-container">
          <a type="button" routerLink='/listedesunite'>
            <img src="../../../assets/arrowLeft.png" alt="" style="width: 200px;">
          </a>
        </div>
    </div>
    
</body>