.container{
   
    
    
    
    height: 80vh;
    width: 150vw;
}
body{
    /* background-image: url(../../../../assets/exe2background.jpg); */
    background-size:cover;
    background-repeat: no-repeat;
}

.box{
    width: 230px;
    height:70px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgb(14, 130, 187);
    font-size: 50px;
    font-weight:bold;
    text-align: center;
    color: white;
}

.bigBox{
    margin-left: 15rem;
    width: 700px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}
.head{
    margin-left: 20%;
    
    display: flex;
    height: 200px;
    width: 800px;
}

img{
    cursor:pointer;
  }
  .button-container {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 70%;
      /* Adjust the top value as needed */
      left: 5%;
      /* Adjust the left value to center horizontally */
      transform: translateX(-50%);
      /* Center the container horizontally */
  }