.button-container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 60%; /* Adjust the top value as needed */
  left:5%; /* Adjust the left value to center horizontally */
  transform: translateX(-50%); /* Center the container horizontally */
}
  
  .button-container button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .body{
    height: 90vh;;
  }